*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

form{
    display: flex;
    flex-direction: column;
}

input[required]{
    width: 30%;
}

input[type="submit"]{
    margin-top: 1rem;
    width: 10%;
}